html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.card {
  margin: 10px;
  padding: 10px;
}
.notSelected {
  margin: 10px;
  padding: 10px;
  border-left-style: solid;
  border-color: rgb(0, 0, 150);
}
.longText {
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  margin-left: none;
}
ul {
  list-style: none;
  padding: 0;
}
